<footer>		    
    <a href="#">
        <h2>Contact</h2>
    </a>
    <a href="index.php">
        <img src="{{asset('build/images/logo.jpg')}}" alt="logo">
    </a>
    <p>Copyright © 2020 Djepeno</p>
        
</footer>