<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {{ encore_entry_link_tags('css/app') }}
    </head>
    <body>
            {% include "partials/_header.html.twig" %}
            {% block body %}{% endblock %}
            {% include "partials/_footer.html.twig" %}

        {{ encore_entry_script_tags('js/datepicker') }} 
        {% block javascripts %}{% endblock %}
    </body>
</html>
